<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>资产管理后台</title>
    <style>
        body{
            margin: 0;
        }
        .menu{
            display: block;
            padding: 5px;

        }
    </style>
</head>
<body>
    <div style="height: 48px;background-color: black;color: white">
        
    </div>
    <div>
        <div style="position: absolute;top:48px;bottom: 0;left: 0;width: 200px;background-color: green;">
             <a class="menu" href="/user_management/">用户管理</a>
             <a class="menu" href="/service_line_management/">业务线管理</a>
             <a class="menu" href="/host_management/">主机管理</a>

        </div>
        <div style="position:absolute;top:48px;left: 210px;bottom: 0;right: 0;overflow: auto">
        </div>

    </div>

</body>
</html>
