<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>后台管理</title>
</head>
<body>
     <form action="{% url 'xxxx' %}" method="POST">
          <p><input type="text" name="user" placeholder="name"/></p>
          <p><input type="text" name="email" placeholder="email"/></p>
           <input type="submit" value="end">

     </form>   
     <ul>
          {% for k,row in user_list.items %}
         <!-- <li><a target="_blank" href="/detail/?nid={{k}}"> {{row.name}} </a> </li> -->
          <li><a target="_blank" href="/detail-{{k}}.html"> {{row.name}} </a> </li>
          {% endfor %}
     <ul>
</body>
</html>

