<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <style>
         .pagination .page{
             display: inline-block;
             padding: 1px;
             background-color:cyan;
             margin: 1px;
         }
         .pagination .page.active{
             background-color: brown;
             color: white;
         }
    </style>
</head>
<body>
     <ul>
         {% for item in li %}
             <li>{{ item }}</li>
         {% endfor %}
     </ul>
     <div>
         <select>
         </select>
     </div>
     <div class="pagination">
         {{ page_str }}
     </div>
</body>
</html>

