<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>资产管理后台</title>
    <style>
        body{
            margin: 0;
        }
        .menu{
            display: block;
            padding: 5px;

        }
    </style>
</head>
<body>
    <div style="height: 48px;background-color: black;color: white">
        
    </div>
    <div>
        <div style="position: absolute;top:48px;bottom: 0;left: 0;width: 200px;background-color: green;">
            <a class="menu" href="/user_management/">用户管理</a>
            <a class="menu" href="/ssets_see/">资产查看</a>
            <a class="menu" href="/assets_management/">资产管理</a>     
        </div>
        <div style="position:absolute;top:48px;left: 210px;bottom: 0;right: 0;overflow: auto">
        <h3>添加用户</h3>
            <form method="POST" action="/user_management/">
                <input type="text" name="user" />
                <input type="text" name="pwd" />
                <input type="submit" value="添加"/>
            </form>
              <h3>用户列表</h3>
            <ul>
                {% for row in user_list %}
                <li>
                    <a href="/user_management-detail-{{row.id}}/">用户名:{{row.username}}</a>
                    <a href="/user_management-del-{{row.id}}/">删除</a>
                    <a href="/user_management-edit-{{row.id}}/">编辑</a>
                </li>
                {% endfor %}
            </ul>


        </div>

    </div>

</body>
</html>
